<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
   <ion-item>
    <ion-label>String to Page</ion-label>
    <ion-input type="text" [(ngModel)]="StringToPage"></ion-input>
  </ion-item>
   <ion-item>
    <h1>{{StringToPage}}</h1>
  </ion-item>

  <button ion-button color="light" (click)="goToPage($event,StringToPage)">To Page 01</button>
</ion-content>
