<!--
  Generated template for the Page01 page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>page01</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>{{stringFromPage}}</h1>

</ion-content>
